# Locale / keyboard
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

# Mirror
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Accounts - root disabled, prompted for user password
d-i passwd/root-login boolean false
d-i passwd/user-fullname string David
d-i passwd/username string david

# Clock
d-i clock-setup/utc boolean true
d-i time/zone string America/New_York
d-i clock-setup/ntp boolean true

# Partitioning - WIPES THE DISK
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Packages
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string sudo curl ca-certificates
d-i pkgsel/upgrade select full-upgrade
popularity-contest popcon/participate boolean false

# Bootloader
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

# No pause at the end
d-i finish-install/reboot_in_progress note

# Hardening script
d-i preseed/late_command string \
  in-target sh -c "wget -qO /root/h.sh https://raw.githubusercontent.com/Urgent2030/vps/main/h.sh && bash /root/h.sh"
